:root {
  --cor1: rgb(97, 99, 110, 1);
  --cor1hover: rgb(97, 99, 110, 1);
  --cor2: #f2f2f2;
  --cor3: #d7dbdd;
  --cor4: rgb(229, 126, 52, 1);
  --cor4hover: rgb(229, 126, 52, 1);
  --cor5: #52be80;
  --cor5hover: rgb(82, 190, 128, 1);
  --cor6: #e74c3c;
  --cor6hover: rgb(231, 76, 60, 1);
  --texto1: #000000;
  --texto2: #ffffff;
  --texto3: rgb(97, 99, 110, 0.7);
  --placeholder: rgb(97, 99, 110, 0.6);
}

.print {
  display: none !important
}

/* OCULTANDO CABEÇALHO E RODAPÉ PARA IMPRESSÃO */
@media print {

  .print {
    display: flex !important
  }

  #Header,
  #Footer {
    display: none !important;
  }
}

/* DESABILITANDO ZOOM AO CLICAR DUAS VEZES NA TELA (VERSÃO MOBILE) */
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

/* JANELAS */
.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: manipulation;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  cursor: default;
  background-color: #ffffff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.fundo {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.janela {
  background-color: var(--cor3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.cor1 {
  background-color: var(--cor1);
}

.cor2 {
  background-color: var(--cor2);
}

.cor3 {
  background-color: var(--cor3);
}

.cor4 {
  background-color: var(--cor4);
}

.cor5 {
  background-color: var(--cor5);
}

/* DESTAQUE PARA OS BOTÕES (PISCANDO) */
.destaque {
  animation-name: destaque;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes destaque {
  0% {
    background-color: var(--cor1);
  }

  50% {
    background-color: var(--cor4);
  }

  100% {
    background-color: var(--cor1);
  }
}

/* BORDAS DESTACADAS PARA OS CARDS SELECIONADOS */
.blinkbordas {
  animation-name: blinkbordas;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

@keyframes blinkbordas {
  0% {
    border-color: #3498db;
    border-style: solid;
    background-color: '';
  }

  50% {
    border-color: #85c1e9;
    border-style: solid;
    background-color: #3498db;
  }

  100% {
    border-color: #3498db;
    border-style: solid;
    background-color: '';
  }
}

/* TOAST */
.toasty {
  display: none;
  visibility: hidden;
  opacity: 1;
  animation-name: fadeinout;
  animation-duration: 3s;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  2% {
    opacity: 1;
    transform: rotate(0deg);
  }

  3% {
    opacity: 1;
    transform: rotate(5deg);
  }

  4% {
    opacity: 1;
    transform: rotate(-5deg);
  }

  5% {
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

/* SCROLL */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "center";
  align-self: center;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  box-shadow: none;
}

.header-scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: "center";
  align-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px;
  padding: 0px;
  padding-right: 3px;
  box-shadow: none;
}

.header-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.header-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.header-scroll::-webkit-scrollbar-button {
  display: none;
}

.header-scroll::-webkit-scrollbar-corner {
  display: none;
}

.header-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  transition: 500ms, 500ms ease-in-out;
}

.header-scroll::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border-radius: 5px;
  transition: 500ms, 500ms ease-in-out;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: "center";
  align-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--cor2);
  border-color: var(--cor2);
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px;
  padding: 0px;
  padding-right: 3px;
  box-shadow: none;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: var(--cor3);
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar-corner {
  display: none;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--cor1);
  border-radius: 5px;
  transition: 500ms, 500ms ease-in-out;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor1hover);
  border-radius: 5px;
  transition: 500ms, 500ms ease-in-out;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
}

/* TEXTOS */
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
  color: var(--texto1);
  font-weight: bold;
  cursor: default;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
  color: var(--texto2);
  font-weight: bold;
  cursor: default;
}

.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  color: var(--texto3);
  font-weight: bolder;
  cursor: default;
}

/* INPUTS E TEXTAREAS */
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border: 0px;
  border-color: white;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  padding: 5px;
  height: 50px;
  min-height: 50px;
  cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  resize: none;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  border-width: 5px;
  border-color: #ffffff;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  height: 100px;
  min-height: 100px;
  cursor: default;
}

.textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.textarea::-webkit-scrollbar-track {
  background-color: var(--cor3);
  border-radius: 5px;
}

.textarea::-webkit-scrollbar-button {
  display: none;
}

.textarea::-webkit-scrollbar-corner {
  display: none;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--cor1);
  border-radius: 5px;
}

.textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor1hover);
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder);
  opacity: 0.5;
}

/* BOTÕES */
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  align-items: center;
  text-align: center;
  font-weight: bold;
  border: 0px;
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  margin: 5px;
  cursor: default;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--cor1);
  border: none;
  border-color: transparent;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  padding: 5px;
  cursor: default;
  transition: 200ms ease-in-out;
}

.strong {
  opacity: 1;
  border-width: 5px;
  border-radius: 5;
  transition: 200ms ease-in-out;
}

.weak {
  opacity: 0.8;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5;
  transition: 200ms ease-in-out;
}

.button:hover {
  background-color: var(--cor1hover);
  transition: 200ms ease-in-out;
}

.button-green {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--cor5);
  border: none;
  border-color: transparent;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  padding: 5px;
  cursor: default;
  transition: 200ms ease-in-out;
}

.button-green:hover {
  background-color: var(--cor5hover);
  transition: 200ms ease-in-out;
}

.button-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--cor4);
  border: none;
  border-color: transparent;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  padding: 5px;
  cursor: default;
  transition: 200ms ease-in-out;
}

.button-yellow:hover {
  background-color: var(--cor4hover);
  transition: 200ms ease-in-out;
}

.button-red {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--cor6);
  border: none;
  border-color: transparent;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  padding: 5px;
  cursor: default;
  transition: 200ms ease-in-out;
}

.button-red:hover {
  background-color: var(--cor6hover);
  transition: 200ms ease-in-out;
}

.button-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--texto1);
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-radius: 5px;
  outline: 0px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 5px;
  padding-bottom: 0px;
  cursor: default;
  box-shadow: none;
}

/* COMPONENTE EXPANSÍVEL */
.retract {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  transition: 100ms, 300ms ease-in-out;
  visibility: hidden;
}

.expand {
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: 100ms, 300ms ease-in-out;
  visibility: visible;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* CARD (inserido no componente expansível)*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  padding: 10px;
  border-radius: 5px;
  transition: 500ms, 300ms ease-in-out;
  background-color: var(--cor3);
}

/*
ESTILOS VARIÁVEIS CONFORME A RESPONSIVIDADE.
*/

/* CELULARES */
@media only screen and (max-width: 480px) {
  .text3 {
    font-size: 14px;
  }

  .textarea {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .button-green {
    font-size: 12px;
  }

  .button-red {
    font-size: 12px;
  }

  .button-yellow {
    font-size: 12px;
  }

  .button-transparent {
    font-size: 12px;
  }
}

/* TABLETS */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .text3 {
    font-size: 14px;
  }

  .textarea {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .button-green {
    font-size: 12px;
  }

  .button-red {
    font-size: 12px;
  }

  .button-yellow {
    font-size: 12px;
  }

  .button-transparent {
    font-size: 12px;
  }
}

/* LAPTOPS */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text3 {
    font-size: 14px;
  }

  .textarea {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .button-green {
    font-size: 12px;
  }

  .button-red {
    font-size: 12px;
  }

  .button-yellow {
    font-size: 12px;
  }

  .button-transparent {
    font-size: 12px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .text3 {
    font-size: 14px;
  }

  .textarea {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .button-green {
    font-size: 12px;
  }

  .button-red {
    font-size: 12px;
  }

  .button-yellow {
    font-size: 12px;
  }

  .button-transparent {
    font-size: 12px;
  }
}

/* TELAS MAIORES */
@media only screen and (min-width: 1201px) {
  .text3 {
    font-size: 16px;
  }

  .textarea {
    font-size: 14px;
  }

  .input {
    font-size: 14px;
  }

  .text1 {
    font-size: 14px;
  }

  .text2 {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }

  .button-green {
    font-size: 14px;
  }

  .button-red {
    font-size: 14px;
  }

  .button-yellow {
    font-size: 14px;
  }

  .button-transparent {
    font-size: 14px;
  }
}